<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blogs.user.dao.AuthorityMapper">
  <resultMap id="BaseResultMap" type="com.blogs.user.entity.Authority">
    <id column="A_ID" jdbcType="INTEGER" property="aId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
  </resultMap>
  <sql id="Base_Column_List">
    A_ID, NAME, DESCRIPTION, URL
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from AUTHORITY
    where A_ID = #{aId,jdbcType=INTEGER}
  </select>
  <select id="selectByUid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
      SELECT
    A.A_ID, A.NAME, A.DESCRIPTION, A.URL
    from USER U
    LEFT JOIN USERROLE UR ON U.U_ID=UR.U_ID
    LEFT JOIN ROLE R ON R.R_ID=UR.R_ID
    LEFT JOIN ROLEAUTHORITY RA ON RA.R_ID=R.R_ID
    LEFT JOIN AUTHORITY A ON A.A_ID=RA.A_ID
    where U.U_ID=#{uId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from AUTHORITY
    where A_ID = #{aId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.blogs.user.entity.Authority">
    insert into AUTHORITY (A_ID, NAME, DESCRIPTION, 
      URL)
    values (#{aId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.blogs.user.entity.Authority">
    insert into AUTHORITY
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="aId != null">
        A_ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="url != null">
        URL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="aId != null">
        #{aId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blogs.user.entity.Authority">
    update AUTHORITY
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        URL = #{url,jdbcType=VARCHAR},
      </if>
    </set>
    where A_ID = #{aId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blogs.user.entity.Authority">
    update AUTHORITY
    set NAME = #{name,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR}
    where A_ID = #{aId,jdbcType=INTEGER}
  </update>
</mapper>